.eventSelectItem {
    height: 50px;
    @media (max-width:767px) {
      height: 45px;
    }
    .ant-select-selector {
      background: transparent !important;
      border: 1px solid var(--sidebarTab);
      border-color: var(--sidebarTab) !important;
      color: var(--sidebarTab) !important;
      min-width: 155px;
      border-radius: 10px;
      &:hover,
      :active {
        border-color: var(--sidebarTab) !important;
      }
    }

    .ant-select-selection-item {
      color: var(--sidebarTab) !important;
      font-size: var(--largeParaGraph16);
    }

    .ant-select-arrow {
      span {
        svg {
          fill: var(--sidebarTab);
        }
      }
    }
  }
//antdropdown
.ant-select-dropdown {
    background-color: var(--popupbg);
    color: var(--white);
  
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      color: var(--black);
      font-weight: normal;
    }
    .ant-select-item {
      color: var(--white);
    }
  }