.datePicker {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.ant-space {
  width: 100%;
}
.ant-picker {
  max-width: 506px;
  width: 100%;
  height: 50px;
  background: var(--InputBg);
  border: unset;
  color: var(--white);
  font-size: var(--largeParaGraph16);
  border-radius: 10px;
  font-family: 500;
  &:hover {
    background: var(--InputBg);
  }
  @media (max-width: 767px) {
    max-width: unset;
  }
  @media (max-width: 991px) {
    height: 45px;
  }
  .ant-picker-input {
    input {
      background: var(--InputBg);
      font-size: var(--largeParaGraph16);
      font-family: 500;
      &::placeholder {
        color: var(--white);
      }
    }
    .ant-picker-suffix {
      .anticon {
        svg {
          color: var(--white) !important;
        }
      }
    }
  }
}
.ant-picker-now{
  a{
    color:var(--sidebarTab);
  }
}
.ant-picker-header button{
  color:var(--white) !important;
}
.ant-picker-content {
  th{
    color:var(--white) !important;
  }
}
.ant-picker-cell{
  color:var(--grayDark636364) !important;
}
.ant-picker-cell-in-view{
  color:var(--white) !important;
}

.ant-picker-dropdown {
  .ant-picker-panel-container {
    background: var(--InputBg);
  }
}
.ant-picker-cell-inner::before{
  border:1px solid var(--sidebarTab) !important;
}