.buttonCustom {
  height: 55px;
  cursor: pointer;
  background-color: var(--sidebarTab);
  border-radius: 10px;
  color: var(--Mainblack);
  font-size: var(--largeParaGraph16);
  font-weight: 500;
  border: none;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: var(--sidebarTab);
    opacity: 0.9;
  }

  @media (max-width: 991px) {
    height: 45px;
  }
  &.disable {
    background-color: var(--sidebarTab);
    opacity: 0.5;
    &:hover {
      background-color: var(--sidebarTab);
      opacity: 0.5;
      cursor: not-allowed;
      color: var(--Mainblack);
    }
  }
  &.transbtn {
    background-color: transparent;
    border: 1px solid var(--sidebarTab);
    color: var(--sidebarTab);
  }

  &.walletBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px 17px;
    max-width: 214px;
    width: 100%;
    white-space: nowrap;
    @media (max-width: 767px) {
      max-width: fit-content;
      padding: 10px;
      height: fit-content;
    }
  }
}
.btnBorder {
  border: 1px solid var(--sidebarTab) !important;
  background: var(--Mainblack) !important;
  color: var(--sidebarTab) !important;
  &:hover {
    background: var(--sidebarTab) !important;
    color: var(--Mainblack) !important;
  }
}
