.dashboardSummary {
  h3 {
    font-size: var(--headingFour);
    font-weight: 600;
    color: var(--white);
    padding-bottom: 25px;
  }

  &__card {
    display: flex;
    gap: 25px;
    @media (max-width: 1499px) {
      gap: 15px;
    }
    @media (max-width: 1366px) {
      flex-wrap: wrap;
    }

    div {
      background: var(--cardbg);
      width: 100%;
      flex: 1;
      @media (max-width: 1366px) {
        max-width: 42%;
        flex: unset;
      }
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
  }

  &__revenue {
    display: flex;
    gap: 20px;
    padding: 25px 0;
    @media (max-width: 1366px) {
      flex-wrap: wrap;
    }
    &__graph {
      border-radius: 14px;
      background: var(--popupbg);
      padding: 20px;
      max-width: 1000px;
      max-height: 300px;
      height: 100%;
      width: 100%;
      @media (max-width: 1800px) {
        max-width: 800px;
      }
      @media (max-width: 1670px) {
        max-width: 650px;
      }
      @media (max-width: 1475px) {
        max-width: 540px;
      }
      @media (max-width: 1366px) {
        max-width: 100%;
      }

      .revenueHead {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;

        h4 {
          font-size: var(--largeParaGraph);
          color: var(--white);
        }
        .customSelect {
          .ant-select-selector {
            background: transparent;
            border: 1px solid var(--sidebarTab);
            border-color: var(--sidebarTab);
            color: var(--white);

            &:hover,
            :active {
              border-color: var(--sidebarTab) !important;
            }
          }

          .ant-select-selection-item {
            color: var(--white);
          }

          .ant-select-arrow {
            span {
              svg {
                fill: var(--white);
              }
            }
          }
        }
      }
      canvas {
        max-height: 237px;
        height: 100%;
      }
    }

    &__cards {
      @media (max-width: 1366px) {
        width: 100%;
      }
      .ant-row {
        .ant-col {
          div {
            background: var(--settingcard);
            min-height: 95px;
            min-width: 173px;
            p {
              max-width: 205px;
              @media (max-width: 1366px) {
                max-width: unset;
              }
            }
          }
        }
      }
    }
  }
}

//antdropdown
.ant-select-dropdown {
  background-color: var(--popupbg);
  color: var(--white);

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: var(--grayDark636364);
  }

  .ant-select-item {
    color: var(--white);
  }
}
