.customInput {
  text-align: left;
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 10px;

    span {
      color: red;
    }
  }

  input {
    box-sizing: border-box;
    border: none;
    padding: 10px 16px;
    height: 56px;
    background-color: var(--InputBg) !important;
    font-size: var(--largeParaGraph16);
    color: var(--white);
    font-weight: 500;
    border-radius: 7px;

    @media (max-width: 991px) {
      height: 45px !important;
      background: var(--InputBg) !important;
    }

    &::placeholder {
      color: var(--white);
      opacity: 0.6;
    }

    &:disabled {
      outline: unset;
      opacity: 50%;
      cursor: not-allowed;
    }

    &:is(:focus, :focus-visible, :focus-within) {
      border: 0;
    }

    &:focus-visible {
      outline: none;
    }
  }

  p {
    font-size: var(--smallParagraph);
    color: var(--error);
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 4px;
  }

  &-password {
    position: relative;

    &_wrapper {
      position: relative;

      input {
        padding-right: 50px;
        width: 100%;
        max-width: 100%;
      }

      button {
        position: absolute;
        right: 12px;
        border: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        padding: 0;
        cursor: pointer;
      }
    }
  }

  &-inputError {
    input {
      outline: 1px solid var(--error) !important;

      &:hover {
        outline: 1px solid var(--error) !important;
      }
    }

    label {
      padding-top: 8px;
    }
  }

  &.settingInput {
    background-color: var(--bg-253B4E);
    height: 60px;
    border-radius: 10px;
  }
}
